#overdue-rentals-table {
  margin-left: 400px;
margin-top: 30px;
    justify-content: center;
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    text-align: center;
    border: 2px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: medium;
}

